<div class="form-horizontal">
</div>
<hr />
<div>
	<h3>Agenda</h3>
</div>
<div id="search-results">
	<div class="table-responsive">
		<table
			class="table table-responsive table-bordered table-striped clearfix">
			<thead>
				<tr>
					<th>Data</th>
					<th>Hora Inicio</th>
					<th>Hora Fim</th>
					<th>Cliente</th>
					<th>Situacao</th>
				</tr>
			</thead>
			<tbody id="search-results-body">
				<tr
					ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
					<td><a href="#/"Informeo(a)s/edit/{{result.id}}">{{result.data|
							date:'mediumDate'}}</a></td>
					<td><a href="#/"Informeo(a)s/edit/{{result.id}}">{{result.horaInicio|
							date:'mediumTime'}}</a></td>
					<td><a href="#/"Informeo(a)s/edit/{{result.id}}">{{result.horaFim|
							date:'mediumTime'}}</a></td>
					<td><a href="#/"Informeo(a)s/edit/{{result.id}}">{{result.cliente.nome}}</a></td>
					<td><a href="#/"Informeo(a)s/edit/{{result.id}}">{{result.situacao}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<ul class="pagination pagination-centered">
		<li ng-class="{disabled:currentPage == 0}"><a id="prev" href
			ng-click="previous()">«</a></li>
		<li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}"
			ng-click="setPage(n)"><a href ng-bind="n + 1">1</a></li>
		<li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
			<a id="next" href ng-click="next()">»</a>
		</li>
	</ul>

</div>