<div class="form-horizontal">
    <h3>Criar um(a) novo(a)Produto</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Produtos/new"><span class="glyphicon glyphicon-plus-sign"></span> Novo</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Procurar por Produtos</h3>
    <form id="ProdutoSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="descricao" class="col-sm-2 control-label">Descricao</label>
        <div class="col-sm-10">
            <input id="descricao" name="descricao" class="form-control" type="text" ng-model="search.descricao" placeholder="Enter the Produto Descricao"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="descricaoMarca" class="col-sm-2 control-label">Descricao Marca</label>
        <div class="col-sm-10">
            <input id="descricaoMarca" name="descricaoMarca" class="form-control" type="text" ng-model="search.descricaoMarca" placeholder="Enter the Produto Descricao Marca"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="tipoEmbalagem" class="col-sm-2 control-label">Tipo Embalagem</label>
        <div class="col-sm-10">
            <select id="tipoEmbalagem" name="tipoEmbalagem" class="form-control" ng-model="search.tipoEmbalagem" ng-options="t as t for t in tipoEmbalagemList">
                <option value="">Escolha um(a) Tipo Embalagem</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="quantidadeEmbalagem" class="col-sm-2 control-label">Quantidade Embalagem</label>
        <div class="col-sm-10">
            <input id="quantidadeEmbalagem" name="quantidadeEmbalagem" class="form-control" type="text" ng-model="search.quantidadeEmbalagem" placeholder="Enter the Produto Quantidade Embalagem"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="unidadeMedidaEmbalagem" class="col-sm-2 control-label">Unidade Medida Embalagem</label>
        <div class="col-sm-10">
            <select id="unidadeMedidaEmbalagem" name="unidadeMedidaEmbalagem" class="form-control" ng-model="search.unidadeMedidaEmbalagem" ng-options="u as u for u in unidadeMedidaEmbalagemList">
                <option value="">Escolha um(a) Unidade Medida Embalagem</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="formaUtilizacao" class="col-sm-2 control-label">Forma Utilizacao</label>
        <div class="col-sm-10">
            <select id="formaUtilizacao" name="formaUtilizacao" class="form-control" ng-model="search.formaUtilizacao" ng-options="f as f for f in formaUtilizacaoList">
                <option value="">Escolha um(a) Forma Utilizacao</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="unidadeMedidaUtilizacao" class="col-sm-2 control-label">Unidade Medida Utilizacao</label>
        <div class="col-sm-10">
            <select id="unidadeMedidaUtilizacao" name="unidadeMedidaUtilizacao" class="form-control" ng-model="search.unidadeMedidaUtilizacao" ng-options="u as u for u in unidadeMedidaUtilizacaoList">
                <option value="">Escolha um(a) Unidade Medida Utilizacao</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="pontos" class="col-sm-2 control-label">Pontos</label>
        <div class="col-sm-10">
            <input id="pontos" name="pontos" class="form-control" type="text" ng-model="search.pontos" placeholder="Enter the Produto Pontos"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="situacao" class="col-sm-2 control-label">Situacao</label>
        <div class="col-sm-10">
            <select id="situacao" name="situacao" class="form-control" ng-model="search.situacao" ng-options="s as s for s in situacaoList">
                <option value="">Escolha um(a) Situacao</option>
            </select>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Procurar</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Descricao</th>
                    <th>Descricao Marca</th>
                    <th>Tipo Embalagem</th>
                    <th>Quantidade Embalagem</th>
                    <th>Unidade Medida Embalagem</th>
                    <th>Forma Utilizacao</th>
                    <th>Unidade Medida Utilizacao</th>
                    <th>Pontos</th>
                    <th>Situacao</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Produtos/edit/{{result.id}}">{{result.descricao}}</a></td>
                    <td><a href="#/Produtos/edit/{{result.id}}">{{result.descricaoMarca}}</a></td>
                    <td><a href="#/Produtos/edit/{{result.id}}">{{result.tipoEmbalagem}}</a></td>
                    <td><a href="#/Produtos/edit/{{result.id}}">{{result.quantidadeEmbalagem}}</a></td>
                    <td><a href="#/Produtos/edit/{{result.id}}">{{result.unidadeMedidaEmbalagem}}</a></td>
                    <td><a href="#/Produtos/edit/{{result.id}}">{{result.formaUtilizacao}}</a></td>
                    <td><a href="#/Produtos/edit/{{result.id}}">{{result.unidadeMedidaUtilizacao}}</a></td>
                    <td><a href="#/Produtos/edit/{{result.id}}">{{result.pontos}}</a></td>
                    <td><a href="#/Produtos/edit/{{result.id}}">{{result.situacao}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>