<div>
	<h3>Logradouros</h3>
	<hr />
	<form id="LogradouroSearch" class="form-horizontal">
		<div class="form-group">
			<label for="descricaoLogradouro" class="col-sm-2 control-label">Descricao</label>
			<div class="col-sm-10">
				<input id="descricaoLogradouro" name="descricaoLogradouro"
					class="form-control" type="text"
					ng-model="search.descricaoLogradouro"
					placeholder="Informa a descricao do logradouro a pesquisar"></input>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-sm-10">
				<a id="Create" name="Create" class="btn btn-primary"
					href="#/Logradouros/new"><span
					class="glyphicon glyphicon-plus-sign"></span> Cadastrar Logradouro</a>
				<a id="Search" name="Search" class="btn btn-primary"
					ng-click="performSearch()"><span
					class="glyphicon glyphicon-search"></span> Pesquisar</a>
			</div>
		</div>
	</form>
</div>
<div id="search-results">
	<div class="table-responsive">
		<table
			class="table table-responsive table-bordered table-striped clearfix">
			<thead>
				<tr>
					<th>Descricao</th>
					<th>CEP</th>
					<th>Numero</th>
					<th>Cidade</th>
				</tr>
			</thead>
			<tbody id="search-results-body">
				<tr
					ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
					<td><a href="#/Logradouros/edit/{{result.id}}">{{result.descricaoLogradouro}}</a></td>
					<td><a href="#/Logradouros/edit/{{result.id}}">{{result.cep}}</a></td>
					<td><a href="#/Logradouros/edit/{{result.id}}">{{result.numero}}</a></td>
					<td><a href="#/Logradouros/edit/{{result.id}}">{{result.bairro.localidade.nomeCidade}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<ul class="pagination pagination-centered">
		<li ng-class="{disabled:currentPage == 0}"><a id="prev" href
			ng-click="previous()">«</a></li>
		<li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}"
			ng-click="setPage(n)"><a href ng-bind="n + 1">1</a></li>
		<li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
			<a id="next" href ng-click="next()">»</a>
		</li>
	</ul>

</div>