<div class="form-horizontal">
	<div class="form-group">
		<div class="col-md-offset-2 col-sm-2">
			<a id="Create" name="Create" class="btn btn-primary"
				href="#/Localidades/new"><span
				class="glyphicon glyphicon-plus-sign"></span> Cadastrar Localidade</a>
		</div>
	</div>
</div>
<hr />
<div>
	<h3>Procurar por localidades</h3>
	<form id="LocalidadeSearch" class="form-horizontal">


		<div class="form-group">
			<label for="nomeCidade" class="col-sm-2 control-label">Descricao</label>
			<div class="col-sm-10">
				<input id="nomeCidade" name="nomeCidade" class="form-control"
					type="text" ng-model="search.nomeCidade"
					placeholder="Informa o nome da cidade"></input>
			</div>
		</div>

		<div class="form-group">
			<label for="uf" class="col-sm-2 control-label">Uf</label>
			<div class="col-sm-10">
				<select id="uf" name="uf" class="form-control" ng-model="search.uf"
					ng-options="u as u for u in ufList">
					<option value="">Escolha um estado</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="pais" class="col-sm-2 control-label">Pais</label>
			<div class="col-sm-10">
				<select id="pais" name="pais" class="form-control"
					ng-model="search.pais" ng-options="p as p for p in paisList">
					<option value="">Escolha um pais</option>
				</select>
			</div>
		</div>


		<div class="form-group">
			<div class="col-md-offset-2 col-sm-10">
				<a id="Search" name="Search" class="btn btn-primary"
					ng-click="performSearch()"><span
					class="glyphicon glyphicon-search"></span> Procurar</a>
			</div>
		</div>
	</form>
</div>
<div id="search-results">
	<div class="table-responsive">
		<table
			class="table table-responsive table-bordered table-striped clearfix">
			<thead>
				<tr>
					<th>Nome da Cidade</th>
					<th>Estado</th>
					<th>Pais</th>
				</tr>
			</thead>
			<tbody id="search-results-body">
				<tr
					ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
					<td><a href="#/Localidades/edit/{{result.id}}">{{result.nomeCidade}}</a></td>
					<td><a href="#/Localidades/edit/{{result.id}}">{{result.uf}}</a></td>
					<td><a href="#/Localidades/edit/{{result.id}}">{{result.pais}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<ul class="pagination pagination-centered">
		<li ng-class="{disabled:currentPage == 0}"><a id="prev" href
			ng-click="previous()">«</a></li>
		<li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}"
			ng-click="setPage(n)"><a href ng-bind="n + 1">1</a></li>
		<li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
			<a id="next" href ng-click="next()">»</a>
		</li>
	</ul>

</div>