<header ng-switch on="$location.path().indexOf('/MovimentoEstoques/new') > -1">
    <h3 ng-switch-when="true">Criar um(a) novo(a)MovimentoEstoque</h3>
    <h3 ng-switch-when="false">Visualizar ou editar um(a) MovimentoEstoque</h3>
</header>
<form id="MovimentoEstoqueForm" name="MovimentoEstoqueForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': MovimentoEstoqueForm.dataMovimento.$invalid}">
        <label for="dataMovimento" class="col-sm-2 control-label">Data Movimento</label>
        <div id="dataMovimentoControls" class="col-sm-10">
            <date id="dataMovimento" name="dataMovimento" required ng-model="movimentoEstoque.dataMovimento" placeholder="Enter the MovimentoEstoque Data Movimento"></date>
            <span class="help-block error" ng-show="MovimentoEstoqueForm.dataMovimento.$error.required">obrigatorio</span> 
            <span class="help-block error" ng-show="MovimentoEstoqueForm.dataMovimento.$error.dateFormat">does not match format "yyyy-MM-dd" (e.g. 2013-12-01)</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MovimentoEstoqueForm.tipoMovimento.$invalid}">
        <label for="tipoMovimento" class="col-sm-2 control-label">Tipo Movimento</label>
        <div id="tipoMovimentoControls" class="col-sm-10">
        <select id="tipoMovimento" name="tipoMovimento" class="form-control" ng-model="movimentoEstoque.tipoMovimento" ng-options="t for t in tipoMovimentoList" required >
            <option value="">Escolha um(a) Tipo Movimento</option>
        </select>
        <span class="help-block error" ng-show="MovimentoEstoqueForm.tipoMovimento.$error.required">obrigatorio</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MovimentoEstoqueForm.quantidade.$invalid}">
        <label for="quantidade" class="col-sm-2 control-label">Quantidade</label>
        <div id="quantidadeControls" class="col-sm-10">
            <input id="quantidade" name="quantidade" type="text" required class="form-control" ng-model="movimentoEstoque.quantidade" placeholder="Enter the MovimentoEstoque Quantidade"></input>
            <span class="help-block error" ng-show="MovimentoEstoqueForm.quantidade.$error.required">obrigatorio</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MovimentoEstoqueForm.unidadeMedidaMovimentacao.$invalid}">
        <label for="unidadeMedidaMovimentacao" class="col-sm-2 control-label">Unidade Medida Movimentacao</label>
        <div id="unidadeMedidaMovimentacaoControls" class="col-sm-10">
        <select id="unidadeMedidaMovimentacao" name="unidadeMedidaMovimentacao" class="form-control" ng-model="movimentoEstoque.unidadeMedidaMovimentacao" ng-options="u for u in unidadeMedidaMovimentacaoList" required >
            <option value="">Escolha um(a) Unidade Medida Movimentacao</option>
        </select>
        <span class="help-block error" ng-show="MovimentoEstoqueForm.unidadeMedidaMovimentacao.$error.required">obrigatorio</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MovimentoEstoqueForm.valor.$invalid}">
        <label for="valor" class="col-sm-2 control-label">Valor</label>
        <div id="valorControls" class="col-sm-10">
            <input id="valor" name="valor" type="text" class="form-control" ng-model="movimentoEstoque.valor" placeholder="Enter the MovimentoEstoque Valor"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MovimentoEstoqueForm.produto.$invalid}">
        <label for="produto" class="col-sm-2 control-label">Produto</label>
        <div id="produtoControls" class="col-sm-10">
            <select id="produto" name="produto" multiple class="form-control" ng-model="produtoSelection" ng-options="p.text for p in produtoSelectionList">
                <option value="">Escolha um(a) Produto</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MovimentoEstoqueForm.atendimento.$invalid}">
        <label for="atendimento" class="col-sm-2 control-label">Atendimento</label>
        <div id="atendimentoControls" class="col-sm-10">
            <select id="atendimento" name="atendimento" multiple class="form-control" ng-model="atendimentoSelection" ng-options="a.text for a in atendimentoSelectionList">
                <option value="">Escolha um(a) Atendimento</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveMovimentoEstoque" name="saveMovimentoEstoque" class="btn btn-primary" ng-disabled="isClean() || MovimentoEstoqueForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Salvar</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancelar</button>
            <button id="deleteMovimentoEstoque" name="deleteMovimentoEstoque" class="btn btn-danger" ng-show="movimentoEstoque.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Deletar</button>
        </div>
    </div>
</form>