<header ng-switch
	on="$location.path().indexOf('/Atendimentos/new') > -1">
	<h3 ng-switch-when="true">Agendar</h3>
	<h3 ng-switch-when="false">Atendimento</h3>
</header>
<form id="AtendimentoForm" name="AtendimentoForm"
	class="form-horizontal" role="form">


	<div class="form-group"
		ng-class="{'has-error': AtendimentoForm.data.$invalid}">
		<label for="data" class="col-sm-2 control-label">Data</label>
		<div id="dataControls" class="col-sm-10">
			<date id="data" name="data" required ng-model="atendimento.data"
				placeholder="Enter the Atendimento Data"></date>
			<span class="help-block error"
				ng-show="AtendimentoForm.data.$error.required"></span> <span
				class="help-block error"
				ng-show="AtendimentoForm.data.$error.dateFormat">Data no 
				formato "dd-MM-aaaa" (ex. 01-12-2015)</span>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': AtendimentoForm.horaInicio.$invalid}">
		<label for="horaInicio" class="col-sm-2 control-label">Hora
			Inicio</label>
		<div id="horaInicioControls" class="col-sm-10">
			<time id="horaInicio" name="horaInicio" required
				ng-model="atendimento.horaInicio"
				placeholder="Enter the Atendimento Hora Inicio"></time>
			<span class="help-block error"
				ng-show="AtendimentoForm.horaInicio.$error.required"></span> <span
				class="help-block error"
				ng-show="AtendimentoForm.horaInicio.$error.timeFormat">Hora no 
				fromato "hh:mm" (ex. 05:00)</span>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': AtendimentoForm.horaFim.$invalid}">
		<label for="horaFim" class="col-sm-2 control-label">Hora Fim</label>
		<div id="horaFimControls" class="col-sm-10">
			<time id="horaFim" name="horaFim" required
				ng-model="atendimento.horaFim"
				placeholder="Enter the Atendimento Hora Fim"></time>
			<span class="help-block error"
				ng-show="AtendimentoForm.horaFim.$error.required"></span> <span
				class="help-block error"
				ng-show="AtendimentoForm.horaFim.$error.timeFormat">Hora no 
				fromato "hh:mm" (ex. 05:00)</span>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': AtendimentoForm.situacao.$invalid}">
		<label for="situacao" class="col-sm-2 control-label">Situacao</label>
		<div id="situacaoControls" class="col-sm-10">
			<select id="situacao" name="situacao" class="form-control"
				ng-model="atendimento.situacao" ng-options="s for s in situacaoList">
				<option value="">Escolha uma Situacao</option>
			</select>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': AtendimentoForm.procedimento.$invalid}">
		<label for="procedimento" class="col-sm-2 control-label">Procedimento</label>
		<div id="procedimentoControls" class="col-sm-10">
			<select id="procedimento" name="procedimento" multiple
				class="form-control" ng-model="procedimentoSelection"
				ng-options="p.text for p in procedimentoSelectionList">
				<option value="">Escolha um Procedimento</option>
			</select>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': AtendimentoForm.cliente.$invalid}">
		<label for="cliente" class="col-sm-2 control-label">Cliente</label>
		<div id="clienteControls" class="col-sm-10">
			<select id="cliente" name="cliente" class="form-control"
				ng-model="clienteSelection"
				ng-options="c.text for c in clienteSelectionList">
				<option value="">Escolha um Cliente</option>
			</select>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': AtendimentoForm.esteticista.$invalid}">
		<label for="esteticista" class="col-sm-2 control-label">Esteticista</label>
		<div id="esteticistaControls" class="col-sm-10">
			<select id="esteticista" name="esteticista" class="form-control"
				ng-model="esteticistaSelection"
				ng-options="e.text for e in esteticistaSelectionList">
				<option value="">Escolha uma Esteticista</option>
			</select>
		</div>
	</div>


	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button id="saveAtendimento" name="saveAtendimento"
				class="btn btn-primary"
				ng-disabled="isClean() || AtendimentoForm.$invalid"
				ng-click="save()">
				<span class="glyphicon glyphicon-ok-sign"></span> Savar
			</button>
			<button id="cancel" name="cancel" class="btn btn-default"
				ng-click="cancel()">
				<span class="glyphicon glyphicon-remove-sign"></span> Cancelar
			</button>
			<button id="deleteAtendimento" name="deleteAtendimento"
				class="btn btn-danger" ng-show="atendimento.id" ng-click="remove()">
				<span class="glyphicon glyphicon-trash"></span> Deletar
			</button>
		</div>
	</div>
</form>